h2 {
    margin: 0 auto 2rem auto;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto auto auto;
    grid-gap: 1rem;

    font-family: "Rubik", sans-serif;
    font-size: 18px;
    background-image: url("../ada-project-docs/assets/high-resolution-world-map-contemporary-style-7qvlrsu62yg6s2xm.webp");
    background-color: #000000;
    margin: 2rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header__header {
    color: white;
    grid-column: span 3;
    display: flex;
    align-items: center;
    margin: 2rem auto 3rem 0;
}

.header__header>h1 {
    margin-right: 2rem;
    font-size: 3em;
}

.header__city-name {
    font-style: oblique;
    font-size: 2rem;
}

.header__city-name::before,
.header__city-name::after {
    content: "✨";
}

.temperature__section,
.sky__section,
.city-name__section {
    border-radius: 8px;
    padding: 1.5rem;
    background-color: rgba(99, 117, 144, 0.397);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 1rem;
}


.temperature__section {
    grid-row: 2;
    color: white;
}

.temperature__section button {
    background-color: #4d648fcf;
    border: none;
    color: white;
    padding: 6px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 100px;
    letter-spacing: 1px;
    line-height: 5;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    width: auto;
    height: auto;
}

.temperature__section button:hover {
    background-color: #6a80b4e0;
    transform: scale(1.05);
}

.sky__section {
    grid-row: 3;
    grid-column: 1;
    margin-bottom: 1rem;
    color: white;
}

.city-name__section {
    grid-row: 4;
    grid-column: 1;
    color: white;
}

/*.garden__section {
    grid-row: 2 / span 3;
    grid-column: 2;
    text-align: center;
    align-self: center;
}*/
.garden__section {
    position: fixed;
    bottom: 1rem;
    left: 70%;
    transform: translateX(-50%);

    background-color: rgba(99, 117, 144, 0.5);
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.temperature__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* justify-content: center; */
    padding: auto;
    margin: auto;
    height: auto;
}

#tempValue {
    font-size: 3rem;
    margin-left: 1.8rem;
    white-space: pre-line;
    text-align: center;
    /* padding-right: 1rem; */
    /* margin-right: 1.5rem; */
}

.temperature__controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.garden__section>h2 {
    color: white;
}

.garden__content {
    margin: auto;
    padding-top: 1rem;
    font-size: 2em;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    min-height: 100px;
}

.city-name__reset-btn {
    border: 0;
    background-color: #3f5887;
    color: white;
    border-radius: 8px;
    padding: 1rem;
    font-family: "Rubik", sans-serif;
}

.red {
    color: red;
}

.orange {
    color: orange;
}

.yellow {
    color: gold;
}

.yellow-green {
    color: yellowgreen;
}

.green {
    color: green;
}

.teal {
    color: teal;
}

.cloudy {
    background-color: lightgrey;
}

.sunny {
    background-color: rgb(221, 255, 255);
}

.rainy {
    background-color: lightblue;
}

.snowy {
    background-color: lightsteelblue;
}